<div class="title">
    <h1><%= title %></h1>
</div>

<div class="form-group">
  <% include form %>
</div>

<hr>

<p>Hello, <span data-bind="text: personName"></span></p>
<p>Name: <input data-bind="value: personName"></p>
