<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Andri Olafsson">
    <link href="stylesheets/normalize.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/bootstrap.min.css.map" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <script type='text/javascript' src='/js/jquery-2.2.0.min.js'></script>
    <script type='text/javascript' src='/js/bootstrap.min.js'></script>
    <script type='text/javascript' src='/js/knockout-3.4.0.js'></script>
    <script type='text/javascript' src='/js/index.js'></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
