doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='/js/jquery-2.2.0.min.js')
    script(type='text/javascript' src='/js/knockout-3.4.0.js')
    script(type='text/javascript' src='/js/index.js')
  body
    block content
